/* fonts */
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('./ui/fonts/OpenSans-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url('./ui/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-display: swap;
}

:root {
  /* palette */
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --color-black: #4a4a4a;
  --color-gray: #a0b0b9;
  --color-lightgray: #dfe5ec;
  --color-grayblue: #9abbce;
  --color-lightblue: #f3f7fa;
  --color-transparent: rgba(0, 0, 0, 0.1);

  /* global */
  --font-size-main: 12px;
  --font-weight-main: 600;
  --line-height-main: 1.7;
  --font-family-main: 'OpenSans', sans-serif;
  --color-bg-main: var(--color-lightblue);
  --color-text-main: var(--color-black);
  --box-shadow-main: 0px 2px 8px var(--color-transparent);
  --border-radius-main: 5px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-main);
  background-color: var(--color-bg-main);
  line-height: var(--line-height-main);
  font-size: var(--font-size-main);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
